.idea/
target/
dependency-reduced-pom.xml
.DS_Store

# eclipse
/bin/
.classpath
.project
.settings

/images/
/showcase/kafkaISR/config/zookeeper1.properties.dynamic.next
/showcase/kafkaISR/config/zookeeper2.properties.dynamic.next
/showcase/kafkaISR/config/zookeeper3.properties.dynamic.next
